body{
    display: flex; /*Sirve para que todos los componentes se adapten a cualquier tamaño y posicion*/
    flex-direction: column; /*Acomoda los elementos en forma de columna*/
    background-color: white;/*Modifica el color que esta alrededor de los componentes*/
    font-family: Arial, Helvetica, sans-serif; /*Modifica el tipo de letra*/
    color: black; /*Modifica el color de los textos*/
    padding: 0px; /*Agrega un margen interno*/
    margin: 0px; /*Agrega un margen entre los componentes*/
    min-height: 100vh;/* El body ocupa al menos toda la pantalla */
}

header{
    display: flex; /*Sirve para que todos los componentes se adapten a cualquier tamaño y posicion*/
    background-color:#1E3A8A; /*Modifica el color que esta alrededor de los componentes*/
    color: white; /*Modifica el color de los textos*/
    align-items: center; /*Acomoda los elementos en el eje contrario*/
    justify-content: space-between; /*Acomoda los elementos en la misma dirección del flex*/
}

#logo{
    order: 1; /*Ordena que elemento va primero*/
    width: 200px; /*Modifica el ancho*/
    height: 100px;/*Modifica el alto*/
    margin-left: 10px; /*Agrega un margen de separacion a la izquierda*/
}

.contentSearch{
    order: 2; /*Ordena que elemento va primero*/
    align-items: center; /*Acomoda los elementos en el eje contrario*/
    display: flex; /*Sirve para que todos los componentes se adapten a cualquier tamaño y posicion*/
    gap:10px;
}

#search{
    height: 20px;/*Modifica el ancho*/
    width: 400px;/*Modifica el alto*/
}

.contentUser{
    order: 3;/*Ordena que elemento va primero*/
    align-items: center; /*Acomoda los elementos en el eje contrario*/
    display: flex; /*Sirve para que todos los componentes se adapten a cualquier tamaño y posicion*/
    gap:10px; /*Agregamos una separacion entre componentes*/
}

#cuenta{
    width: 50px; /*Modifica el ancho*/
    height: 50px; /*Modifica el alto*/
}

#btnIncioSesion{
    background: none; /*Eliminamos cualquier color que rodee nuestro elemento*/
    color: white; /*Modifica el color de los textos*/
    font-weight: bold; /*Pone en negritas los textos*/
    border: none; /*Eliminamos cualquier borde*/
    cursor: pointer; /*Cambiamos el icono del cursor*/
    text-decoration: underline; /*Dibujamos una linea debajo del boton*/
}

.contentShopping{
    order: 4;/*Ordena que elemento va primero*/
    align-items: center; /*Acomoda los elementos en el eje contrario*/
    display: flex; /*Sirve para que todos los componentes se adapten a cualquier tamaño y posicion*/
    gap:10px; /*Agregamos una separacion entre componentes*/
    margin-right: 10px; /*Agregamos un margen de separacion del lado derecho*/
}

#btnCarrito{
    background: none; /*Eliminamos cualquier color que rodee nuestro elemento*/
    color: white; /*Modifica el color de los textos*/
    font-weight: bold; /*Pone en negritas los textos*/
    border: none; /*Eliminamos cualquier borde*/
    cursor: pointer; /*Cambiamos el icono del cursor*/
}

.main-container{
    display: flex; /*Sirve para que todos los componentes se adapten a cualquier tamaño y posicion*/
    flex:1;/*Ocupa el resto del espacio*/
}

.Menu{
    display: flex; /*Sirve para que todos los componentes se adapten a cualquier tamaño y posicion*/
    flex-direction: column; /*Acomoda los elementos en forma de columna*/
    align-items: flex-start; /*Acomoda los elementos en el eje contrario*/
    border-right: 1px solid #E5E7EB; /*línea gris clara */
    padding-right: 10px; /* espacio para que no quede pegado */
}

.Menu button{
    background: none; /*Eliminamos cualquier color que rodee nuestro elemento*/
    color: black; /*Modifica el color de los textos*/
    border: none; /*Eliminamos cualquier borde*/
    cursor: pointer; /*Cambiamos el icono del cursor*/ 
}

#contentCategorias{
    display: flex; /*Sirve para que todos los componentes se adapten a cualquier tamaño y posicion*/
    flex-direction: column; /*Acomoda los elementos en forma de columna*/
    gap:10px; /*Agregamos una separacion entre componentes*/
}

.contenidoPrincipal{
    flex: 1; /*Ocupa el resto del espacio*/
    padding: 20px; /*Agrega un margen interno*/
}

.contenidoPrincipal button{
    background-color: white; /*Modificamos el color alrededor de nuestros componentes*/
    color: black;  /*Modifica el color de los textos*/
    cursor: pointer; /*Cambiamos el icono del cursor*/ 
    border: 1px solid #E5E7EB; /*Modificamos el color del borde que rodea nuestro boton*/
    border-radius: 10px; /*Modificamos el borde y lo volvemos redondeado*/
    width: 120px; /*Modifica el ancho*/
    height: 30px; /*Modifica el alto*/
    margin-right: 10px; /*Agregamos un margen de separacion del lado derecho*/
}

.contenidoPrincipal button:hover{
    background-color: #1E3A8A;
    color: white;
}

footer{
    margin-top: auto; /* Se empuja hasta abajo automáticamente */
    background-color:#1E3A8A;  /*Modifica el color que esta alrededor de los componentes*/
    color:white; /*Modifica el color de los textos*/
    text-align: center; /*Alinea el texto al centro*/
    align-items: center; /*Acomoda los elementos en el eje contrario*/
    justify-content: center; /*Acomoda los elementos en la misma dirección del flex*/
}