body{
    background-color: white;/*Modifica el color que esta alrededor de los componentes*/
    font-family: Arial, Helvetica, sans-serif; /*Modifica el tipo de letra*/
    color: black; /*Modifica el color de los textos*/
    padding: 0px; /*Agrega un margen interno*/
    margin: 0px; /*Agrega un margen entre los componentes*/
}

header{
    display: flex; /*Sirve para que todos los componentes se adapten a cualquier tamaño y posicion*/
    background-color:#1E3A8A; /*Modifica el color que esta alrededor de los componentes*/
    color: white; /*Modifica el color de los textos*/
    align-items: center; /*Acomoda los elementos en el eje contrario*/
    justify-content: space-between; /*Acomoda los elementos en la misma dirección del flex*/
}

#logo{
    order: 1; /*Ordena que elemento va primero*/
    width: 200px; /*Modifica el ancho*/
    height: 100px;/*Modifica el alto*/
    margin-left: 10px;
}

.contentSearch{
    order: 2; /*Ordena que elemento va primero*/
    align-items: center; /*Acomoda los elementos en el eje contrario*/
    display: flex; /*Sirve para que todos los componentes se adapten a cualquier tamaño y posicion*/
    gap:10px;
}

#search{
    height: 20px;
    width: 400px;
}

.contentUser{
    order: 3;/*Ordena que elemento va primero*/
    align-items: center; /*Acomoda los elementos en el eje contrario*/
    display: flex; /*Sirve para que todos los componentes se adapten a cualquier tamaño y posicion*/
    gap:10px; /*Agregamos una separacion entre componentes*/
}

#cuenta{
    width: 50px; /*Modifica el ancho*/
    height: 50px; /*Modifica el alto*/
}

#btnIncioSesion{
    background: none; /*Eliminamos cualquier color que rodee nuestro elemento*/
    color: white; /*Modifica el color de los textos*/
    font-weight: bold; /*Pone en negritas los textos*/
    border: none; /*Eliminamos cualquier borde*/
    cursor: pointer; /*Cambiamos el icono del cursor*/
    text-decoration: underline; /*Dibujamos una linea debajo del boton*/
}

.contentShopping{
    order: 4;/*Ordena que elemento va primero*/
    align-items: center; /*Acomoda los elementos en el eje contrario*/
    display: flex; /*Sirve para que todos los componentes se adapten a cualquier tamaño y posicion*/
    gap:10px; /*Agregamos una separacion entre componentes*/
    margin-right: 10px;
}

#btnCarrito{
    background: none; /*Eliminamos cualquier color que rodee nuestro elemento*/
    color: white; /*Modifica el color de los textos*/
    font-weight: bold; /*Pone en negritas los textos*/
    border: none; /*Eliminamos cualquier borde*/
    cursor: pointer; /*Cambiamos el icono del cursor*/
}

footer{
    background-color:#1E3A8A;  /*Modifica el color que esta alrededor de los componentes*/
    color:white; /*Modifica el color de los textos*/
    text-align: center; /*Alinea el texto al centro*/
    align-items: center; /*Acomoda los elementos en el eje contrario*/
    justify-content: center; /*Acomoda los elementos en la misma dirección del flex*/
}